.notification-log{
  @mixin reset;
  box-shadow: 1px 5px 15px 3px #8c8b8a;
  position: relative;
  &:before{
    content: " ";
    position: absolute;
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    top: 29px;
    right: -9px;
    z-index: 1;
    background-color: $c-bg;
  }
  $border-radius: 4px;
  border-radius: $border-radius;
  &--item{
    border-bottom: 1px dotted $c-lines;
    position: relative;
    z-index: 2;
    .notification--left{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 20px;
        bottom: -20px;
        left: 0;
        background-color: $c-bg;
      }
    }
  }

  &--item:first-child{
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  &--item:last-child{
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-bottom: none;
    .notification--left:before{
      content: none;
    }
  }
  &--btn{
    @mixin reset;
    text-transform: uppercase;
    text-align: center;
    padding: .5em;
    cursor: pointer;
    font-size: 12px;
    color: $c-lines;
    background-color: $c-bg;
    &:hover{
      color: color($c-lines l(-10%));
    }
  }
}

.notification-log{
  &.notification-enter{
    margin: 0;
    opacity: 0.01;
  }
  &.notification-enter.notification-enter-active{
    transition: all 0.5s ease-in ;
    opacity: 1;
  }
  &.notification-leave{
    opacity: 1;
  }
  &.notification-leave.notification-leave-active{
    transition: all 0.5s ease-out;
    margin: 0;
    opacity: 0.01;
  }
}
