@define-mixin reset{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

$c-bg: #3d3935;
$c-lines: #796e65;
$c-ntf-ok: #84BC01;
$c-ntf-wrn: #F4AF04;
$c-cnt-red: #F0514F;

@import "./_notification.css";
@import "./_notification-log.css";
@import "./_notification-counter.css";

.notification-center{
  width: 628px;
  a {
    color: #84bd00;
  }
}
