@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

.clearfix{
  &:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.notification-counter{
  width: 46px;
  height: 46px;
  font-size: 12px;
  &.__active{
    opacity: 0.9;
  }
  &--icon{
    line-height: 46px;
    margin-left: 6px;
    float: left;
  }
  &--value{
    line-height: 46px;
    float: left;
    margin-left: 3px;
  }
}

.notification{
  .clearfix();
  background-color: #FFF;
  border: 1px solid;
  
  min-height: 70px;
  width: 510px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 1em 0;
  &.__type_log{
    margin-bottom: 0;
    &:last-child{
      border-bottom: none;
    }
  }
  &--left,
  &--content,
  &--right{
    box-sizing: border-box;
    float: left;
    min-height: 50px;
  }
  &--left,
  &--right{
    width: 50px;
    text-align: center;
    padding: 0 0.5em;
    i{
      display: block;
      line-height: 50px;
    }
    span{
      display: block;
      margin-top: -10px;
    }
  }
  &--right{
    cursor: pointer;
  }
  &--content{
    padding: 1em;
    width: 500px - 100px;
  }
}


.notification,
.notification-log {
  &.notification-enter{
    transition: opacity 0.3s 0.1s ease-in ;
    opacity: 0.01;
  }
  &.notification-enter-active{
    opacity: 1;
  }
  &.notification-leave{
    opacity: 1;
  }
  &.notification-leave-active{
    transition: opacity 0.01s ease-in ;
    opacity: 0.01;
  }
  &--btn{
    background-color: #dedede;
    padding: .5em;
    box-shadow: 1px 5px 5px 1px #aaa;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }
}

i.fa-exclamation-triangle{
  color: #f5af02;
}
i.fa-check-circle-0{
  color: #84bd00;
}
i.fa-times-circle-o{
  color: #796e65;
  &:hover{
    color: #fff;
  }
}
