/* 
// Examples Stylesheet
// -------------------
*/
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.notification-counter {
  width: 46px;
  height: 46px;
  font-size: 12px;
}
.notification-counter.__active {
  opacity: 0.9;
}
.notification-counter i {
  line-height: 46px;
  margin-left: 6px;
  float: left;
}
.notification-counter--value {
  line-height: 46px;
  float: left;
  margin-left: 3px;
}
.notification {
  background-color: #FFF;
  border: 1px solid;
  width: 510px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.notification.__type_log {
  margin-bottom: 0;
}
.notification.__type_log .notification--right {
  padding-right: 10px;
  font-size: 12px;
}
.notification.__type_log:last-child {
  border-bottom: none;
}
.notification--wrap {
  padding: 1em 0;
}
.notification--wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.notification--wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.notification--left,
.notification--content,
.notification--right {
  box-sizing: border-box;
  float: left;
  min-height: 50px;
}
.notification--left,
.notification--right {
  width: 50px;
  text-align: center;
  padding: 0 0.5em;
}
.notification--left i,
.notification--right i {
  display: block;
  line-height: 50px;
}
.notification--left span,
.notification--right span {
  display: block;
  margin-top: -10px;
}
.notification--right {
  cursor: pointer;
}
.notification--content {
  padding: 1em;
  width: 400px;
}
.notification.notification-enter,
.notification-log.notification-enter {
  transition: opacity 0.3s 0.4s ease-in, height 0.4s ease-in;
  opacity: 0.01;
  height: 0;
}
.notification.notification-enter-active,
.notification-log.notification-enter-active {
  height: auto;
  opacity: 1;
}
.notification.notification-leave,
.notification-log.notification-leave {
  transition: opacity 0.3s ease-out, height 0.4s 0.3s ease-out;
  height: auto;
  opacity: 1;
}
.notification.notification-leave-active,
.notification-log.notification-leave-active {
  opacity: 0.01;
  opacity: 0;
}
.notification--btn,
.notification-log--btn {
  background-color: #dedede;
  padding: .5em;
  box-shadow: 1px 5px 5px 1px #aaa;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
i.fa-exclamation-triangle {
  color: #f5af02;
}
i.fa-check-circle-0 {
  color: #84bd00;
}
i.fa-times-circle-o {
  color: #796e65;
}
i.fa-times-circle-o:hover {
  color: #fff;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}
a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  padding: 1em;
}
.container.__shadowed {
  box-shadow: 0px 1px 5px 1px #aaa;
}
.statusbar {
  position: relative;
}
.statusbar:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.statusbar:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.statusbar--messages {
  position: absolute;
  left: 200px;
  top: 10px;
  z-index: 2;
}
.statusbar--counter {
  float: right;
}
.line {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.footer {
  margin-top: 50px;
  border-top: 1px solid #eee;
  padding: 20px 0;
  font-size: 12px;
  color: #999;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-weight: 100;
  margin: 0.5em 0;
}
label {
  color: #999;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  margin: 1em 0;
  text-transform: uppercase;
}
.hint {
  margin: 15px 0;
  font-style: italic;
  color: #999;
}
.debugger {
  width: 940px;
  overflow-wrap: break-word;
  align-self: flex-end;
}
.notification-counter {
  background-color: #F0514F;
  border-radius: 1000px;
  color: #fff;
  font-weight: 100;
}
.notification {
  border: none;
  background-color: #3d3935;
  color: #F0EFEC;
  box-shadow: 1px 5px 5px 1px #aaa;
}
.notification.__type_log {
  border-bottom: 1px dotted #777;
}
.notification--right i.fa-long-arrow-right {
  margin-top: -10px;
}
.notification--content {
  border-right: 1px dotted #796e65;
}
.notification-log--btn {
  background-color: #3d3935;
  color: #F0EFEC;
}
