/* 
// Examples Stylesheet
// -------------------
*/

@import "../../less/notification-center.less";

.clearfix{
  &:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
}

a {
	color: #08c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
  padding: 1em;
  &.__shadowed{
    box-shadow: 0px 1px 5px 1px #aaa;
  }
}

.statusbar{
  .clearfix();
  &--messages{
    position: absolute;
    left: 400px;
    top: 10px;

    z-index: 2;
  }
  &--counter{
    float: right;
  }
}

.line{
	margin-left: auto;
	margin-right: auto;
	max-width: 940px;
}

.footer {
	margin-top: 50px;
	border-top: 1px solid #eee;
	padding: 20px 0;
	font-size: 12px;
	color: #999;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-weight: 100;
	margin: 0.5em 0;
}

label {
	color: #999;
	display: inline-block;
	font-size: 0.85em;
	font-weight: bold;
	margin: 1em 0;
	text-transform: uppercase;
}

.hint {
	margin: 15px 0;
	font-style: italic;
	color: #999;
}

.debugger{
  width: 300px;
  align-self: flex-end;
}
