/* 
// Examples Stylesheet
// -------------------
*/

@import "../../css/notification-center.css";
@import "../../node_modules/evil-icons/assets/evil-icons.css";

@define-mixin clearfix{
  &:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
}

a {
	color: #08c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
  &.__shadowed{
    box-shadow: 0px 1px 5px 1px #aaa;
  }
}

.statusbar{
  @mixin clearfix;
  position: relative;
  height: 84px;
  &--messages{
    position: absolute;
    left: 200px;
    top: 6px;

    z-index: 2;
  }
  &--counter{
    float: right;
    margin-top: 17px;
  }
}

.line{
	margin-left: auto;
	margin-right: auto;
	max-width: 940px;
}

.footer {
	margin-top: 50px;
	border-top: 1px solid #eee;
	padding: 20px 0;
	font-size: 12px;
	color: #999;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-weight: 100;
	margin: 0.5em 0;
}

label {
	color: #999;
	display: inline-block;
	font-size: 0.85em;
	font-weight: bold;
	margin: 1em 0;
	text-transform: uppercase;
}

.hint {
	margin: 15px 0;
	font-style: italic;
	color: #999;
}

.debugger{
  width: 940px;
  overflow-wrap: break-word;
  align-self: flex-end;
}

.notification-counter{
  border-radius: 1000px;
  font-weight: 100;
 }

 .notification{
  &.__type_log{
    /*border-bottom: 1px dotted #777;*/
  }
  &--right{
    i.fa-long-arrow-right{
      margin-top: -10px;
    }
  }
  &--content{
    border-right: 1px dotted #796e65;
  }
}

